#backToTopBtn {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 10px;
    right: 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 12px 16px;
    filter: grayscale(100%);
    }
#backToTopBtn:hover {
    filter: none;
    transform: scale(1.2);
    transition: .5s;
    }
