* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: 100dvh;
  
}
.float-button {
  position: fixed;
  transform: translate(108px, 0px);
  bottom: 60%;
  right: 0;
  width: 157px;
  padding-left: 4px;
  overflow: hidden;
  background-color: #25d366;
  color: #fff;
  border-radius: 40px 0 0 40px;
  z-index: 10;
  transition: all 0.5s ease-in-out;
  vertical-align: middle;
}

.float-button:hover {
  transform: translate(0px, 0px);
}

.float-button span {
  color: white;
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 10px;
  position: absolute;
  line-height: 16px;
  font-weight: bolder;
}

.float-button i {
  font-size: 30px;
  color: white;
  line-height: 30px;
  padding: 10px;
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
  text-align: center;
}