.float-button {
  position: fixed;
  right: 0;
  width: 160px;
  padding-left: 6px;
  overflow: hidden;
  background-color: #25d366;
  color: #fff;
  border-radius: 40px 0 0 40px;
  z-index: 1000;
  transform: translateX(110px);
  transition: all 0.4s ease-in-out;
}

.float-button:hover {
  transform: translateX(0);
}

.float-button span {
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  top: 12px;
  font-weight: bold;
}

.float-button i {
  font-size: 28px;
  padding: 10px;
}

/* Desktop WhatsApp */
.whatsapp-web {
  top: 40%;
}

/* Mobile WhatsApp */
.whatsapp-app {
  top: 55%;
}

/* Show only Web on Desktop */
@media (min-width: 768px) {
  .whatsapp-app {
    display: none;
  }
}

/* Show only App on Mobile */
@media (max-width: 767px) {
  .whatsapp-web {
    display: none;
  }
}


/* DEFAULT (Desktop first) */
.desktop {
  display: block;
}

.mobile {
  display: none;
}

/* Mobile only */
@media (max-width: 768px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}


/* Common button style */
.main-contact .contact-btn {
  display: flex;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #9157ff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.contact-btn:hover {
  background-color: #c778dd;
  color: #282c33;
}

/* Default → Desktop */
.contact-btn-desktop {
  display: block;
  margin-bottom: 10px;
  
}
.contact-btn-mobile {
  display: none;
}

/* Mobile */
@media (max-width: 768px) {
  .contact-btn-desktop {
    display: none;
  }
  .contact-btn-mobile {
    display: block;
    margin-bottom: 10px;
  }
}





/* Default → Desktop */
.contact-icon-desktop,
.contact-link-desktop {
  display: inline-flex;
}

.contact-icon-mobile,
.contact-link-mobile {
  display: none;
}

/* Mobile */
@media (max-width: 768px) {
  .contact-icon-desktop,
  .contact-link-desktop {
    display: none;
  }

  .contact-icon-mobile,
  .contact-link-mobile {
    display: inline-flex;
  }
}




